.my-style-with-css {
  padding: 8px 0;
  background-color: #fe6a6a;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  color: #fff;
  transition: all 0.4s;
  border-radius: 4px;
  filter: brightness(90%);
  border: solid 2px #fe6a6a;
}
.my-style-with-css:hover {
  transition: all 0.4s;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.7);
  filter: brightness(100%);
  transform: scale(1.05);
  border: solid 2px #fff;
}

.my-style-with-css > header {
  font-weight: bold;
}

.my-style-with-css > p {
  font-size: 16px;
}

.my-style-with-css > .flag {
  color: #bbb;
}
